@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To have an account for your Feeds Subscription.
            </p>
        </div>
    </section>
}
<h2><a href="/Account/Login">Sign in</a> if you already have an account or <a href="/Account/Register">Register</a> for an account.</h2><br />

		